/* GLOBAL */

:root {
  --bg-body: hsl(0, 0%, 8%);
  --bg-contact: hsl(0, 0%, 14%);
  --clr-accent: hsl(153, 71%, 59%);
  --clr-hover: brightness(0) saturate(100%) invert(76%) sepia(32%)
    saturate(750%) hue-rotate(97deg) brightness(96%) contrast(90%);
  --clr-transition: 250ms ease-in-out;
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 85%);
  --invalid: hsl(7, 100%, 68%);

  --fs-body-18: 1.125rem;
  --fs-desktop-88: 5.5rem;
  --fs-desktop-48: 3rem;
  --fs-desktop-24: 1.5rem;
  --fs-tablet-72: 4.5rem;
  --fs-tablet-48: 3rem;
  --fs-mobile-40: 2.5rem;
  --fs-mobile-32: 2rem;

  --container: 69.375rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: var(--fs-body-18);
  line-height: 1.75rem;
}

a:hover {
  color: var(--clr-accent);
  transition: var(--clr-transition);
}

.header__social:hover {
  filter: var(--clr-hover);
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

/* 600px */
@media (min-width: 37.5em) {
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

/* HEADER */
.header {
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

/* used clamp with fluid typography calculator to reduce the use of @media*/
.header__home {
  margin-top: 20px;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.03rem + 2.04vw, 2rem);
  color: var(--text1);
  text-decoration: none;
  flex: 1 0 100%;
}

/* 600px */
@media (min-width: 37.5em) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__home {
    /* text-align: left; */
  }
}
